<div id ="navbar">
  <header >
    <!-- TOP HEADER -->
    <div id="top-header">
      <div class="container">
        <ul class="header-links pull-left">
          <li><a href="#"><i class="fa fa-phone"></i> +84919657498</a></li>
          <li><a href="#"><i class="fa fa-envelope-o"></i> vandat@gmail.com</a></li>
          <li><a href="#"><i class="fa fa-map-marker"></i> HaiPhong University</a></li>
        </ul>
        <ul class="header-links pull-right">
          <li><a href="#"><i class="fa fa-dollar"></i> VND</a></li>
          <li><a href="#"><i class="fa fa-user-o"></i> LogOut</a></li>
        </ul>
      </div>
    </div>
    <!-- /TOP HEADER -->

    <!-- MAIN HEADER -->
    <div id="header">
      <!-- container -->
      <div class="container">
        <!-- row -->
        <div class="row">
          <!-- LOGO -->
          <div class="col-md-3">
            <div class="header-logo">
              <a routerLink="/" class="logo">
                <img src="../../../assets/img/logo.png" alt="">
              </a>
            </div>
          </div>
          <!-- /LOGO -->

          <!-- SEARCH BAR -->
          <div class="col-md-6">
            <div class="header-search">
              <form>
                <select class="input-select">
                  <option value="0">Tất cả Sản Phẩm</option>
                  <option value="1">DELL</option>
                  <option value="2">HP</option>
                </select>
                <input class="input" type = "text" name ="name" [(ngModel)]="name" (ngModelChange)="Search()" placeholder="Search here">
                <button class="search-btn">Tìm Kiếm</button>
              </form>
            </div>
          </div>
          <!-- /SEARCH BAR -->

          <!-- ACCOUNT -->
          <div class="col-md-3 clearfix">
            <div class="header-ctn">
              <!-- Wishlist -->
              <div>
                <a href="#">
                  <i class="fa fa-heart-o"></i>
                  <span>Yêu Thích</span>
                  <div class="qty">{{cart.count}}</div>
                </a>
              </div>
              <!-- /Wishlist -->

              <!-- Cart -->
              <div class="dropdown" >
                <a class="dropdown-toggle" data-toggle="dropdown" aria-expanded="true" style="cursor: pointer;">
                  <i class="fa fa-shopping-cart"></i>
                  <span>Giỏ Hàng</span>
                  <div class="qty">{{cart.count}}</div>
                </a>

                  <div class="dropdown-content">
                    <a routerLink="/cart">Xem Giỏ</a>
                    <a routerLink="/checkout" style="float: right;">Thanh Toán <i class="fa fa-arrow-circle-right"></i></a>
                  </div>
                </div>
              </div>
            </div>
              <!-- /Cart -->

              <!-- Menu Toogle -->

              <div class="menu-toggle">
                <a href="#">
                  <i class="fa fa-bars"></i>
                  <span>Menu</span>
                </a>
              </div>

              <!-- /Menu Toogle -->
            </div>
          </div>
          <!-- /ACCOUNT -->
        </div>
        <!-- row -->
      <!-- container -->
    <!-- /MAIN HEADER -->
  </header>
  <!-- /HEADER -->
</div>


<!-- NAVIGATION -->
<nav id="navigation">
  <!-- container -->
  <div class="container">
    <!-- responsive-nav -->
    <div id="responsive-nav">
      <!-- NAV -->
      <ul class="main-nav nav py-3">
        <li class="active"><a routerLink="home">Trang Chủ</a></li>
        <li><a routerLink="home">Sản Phẩm</a></li>
        <li><a routerLink="#">Danh Mục </a></li>
        <li><a href="#">Thông Tin Về Cửa Hàng</a></li>
        <li><a href="#">Liên Lạc</a></li>

      </ul>
      <!-- /NAV -->
    </div>
    <!-- /responsive-nav -->
  </div>
  <!-- /container -->
</nav>
<!-- /NAVIGATION -->


<!-- Header -->
<div class="section">
  <!-- container -->
  <div class="container">
    <!-- row -->
    <div class="row">
      <!-- shop -->
      <div class="col-md-4 col-xs-6">
        <div class="shop">
          <div class="shop-img">
            <img src="./../../../assets/img/shop01.png" alt="">
          </div>
          <div class="shop-body">
            <h3>Máy tính<br>Bộ sưu tập</h3>
            <a href="#" class="cta-btn">Mua Ngay<i class="fa fa-arrow-circle-right"></i></a>
          </div>
        </div>
      </div>
      <!-- /shop -->

      <!-- shop -->
      <div class="col-md-4 col-xs-6">
        <div class="shop">
          <div class="shop-img">
            <img src="./../../../assets/img/shop03.png" alt="">
          </div>
          <div class="shop-body">
            <h3>Tai nghe<br>Bộ sưu tập</h3>
            <a href="#" class="cta-btn">Mua Ngay <i class="fa fa-arrow-circle-right"></i></a>
          </div>
        </div>
      </div>
      <!-- /shop -->

      <!-- shop -->
      <div class="col-md-4 col-xs-6">
        <div class="shop">
          <div class="shop-img">
            <img src="./../../../assets/img/shop02.png" alt="">
          </div>
          <div class="shop-body">
            <h3>Máy ảnh<br>Bộ sưu tập</h3>
            <a href="#" class="cta-btn">Mua Ngay <i class="fa fa-arrow-circle-right"></i></a>
          </div>
        </div>
      </div>
      <!-- /shop -->
    </div>
    <!-- /row -->
  </div>
  <!-- /container -->
</div>

<div class="title__container">
    <h1 style="text-align: center;">Sản Phẩm Mới Nhất</h1>
  </div>

  <nav class="navbar">
    <input class="form-control" type = "text" name ="name" [(ngModel)]="name" (ngModelChange)="Search()"
    placeholder="Tìm kiếm sản phẩm:">
    <table>
      <thead>
        <tr style="padding:1rem;">
          <th><b>Sắp xếp sản phẩm theo:</b></th>
          <th>.......</th>
          <th (click)="Sort('id')">Mã Sản Phẩm<i class="fa fa-sort"></i></th>
          <th>.......</th>
            <th (click)="Sort('name')">Tên<i class="fa fa-sort"></i></th>
            <th>.......</th>
            <th (click)="Sort('quantity')">Số lượng<i class="fa fa-sort"></i></th>
            <th>.......</th>
            <th (click)="Sort('price')">Giá<i class="fa fa-sort"></i></th>
        </tr>
      </thead>
    </table>
  </nav>

<div class="product" *ngFor="let product of ProductList| orderBy: key:reverse  |paginate:{itemsPerPage: 5, currentPage: p }">
  <!-- Id sản phẩm -->
  <div class="product__id">
      mã sản phẩm: {{product.id}}
  </div>
  <!-- hình ảnh sản phẩm -->
  <div class="product__img">
  <img src={{product.image}} alt="image">
  </div>
  <!-- thông tin sản phẩm -->
  <div class="product__info">
      <!-- Tên sản phẩm -->
      <div class="product__name">
          <a>Tên:{{product.name}}</a>
      </div>
      <!-- Giá cũ và discount -->
      <div>
          <span class="product__last-price">
             {{product.originalPrice}} đ
          </span>
      </div>
      <!-- giá sau khi đã tính discount -->
      <div class="product__price">
         {{product.price}} đ
      </div>
  </div>
  <!-- Trạng thái và hành động -->
  <div class="product__action">
      <!-- hiển thị trạng thái -->
      <div class="product__status" *ngIf="product.quantity > 0">
          <i class='bx bx-check'></i>
          <span>Còn hàng</span>
      </div>
      <div class="product__status-false" *ngIf="product.quantity <= 0">
        <i class='bx bx-x'></i>
        <span>Hết hàng</span>
      </div>
      <!-- Thêm vào giỏ -->
      <div class="product__add-to-cart" >
        <i class='bx bx-cart-alt' (click)="Onselected(product)" (click)="AddProductToCart(product)">Xem Chi Tiết</i>
      </div>
      <div><button (click) = "AddProductToCart(product)" [routerLink]="['/detail/'+product.id]">Đặt Hàng</button></div>
  </div>
</div>
<!-- <app-about-pc [product]="selectedProduct"></app-about-pc> -->
<div> <pagination-controls (pageChange)= "p = $event"></pagination-controls></div>


<div>
số lượng sản phẩm trong giỏ: {{cart.count}}
</div>

<app-about-pc [product]="selectedProduct"></app-about-pc>
