
<!-- HEADER -->
<header>
  <!-- TOP HEADER -->
  <div id="top-header">
    <div class="container">
      <ul class="header-links pull-left">
        <li><a href="#"><i class="fa fa-phone"></i> +84919657498</a></li>
        <li><a href="#"><i class="fa fa-envelope-o"></i> vandat@gmail.com</a></li>
        <li><a href="#"><i class="fa fa-map-marker"></i> HaiPhong University</a></li>
      </ul>
      <ul class="header-links pull-right">
        <li><a href=""><i class="fa fa-user-o"></i> Tài khoản: admin</a></li>
        <li><a href="#"><i class="fa fa-logout"></i> LogOut</a></li>
      </ul>
    </div>
  </div>
  <!-- /TOP HEADER -->

  <!-- MAIN HEADER -->
  <div id="header">
    <!-- container -->
    <div class="container">
      <!-- row -->
      <div class="row">
        <!-- LOGO -->
        <!-- /LOGO -->

        <!-- SEARCH BAR -->

        <!-- /SEARCH BAR -->
      </div>
        <!-- ACCOUNT -->
    </div>
    <!-- container -->
  </div>
  <!-- /MAIN HEADER -->
</header>
<!-- /HEADER -->

<!-- NAVIGATION -->
<nav id="navigation">
  <!-- container -->
  <div class="container">
    <!-- responsive-nav -->
    <div id="responsive-nav">
      <!-- NAV -->
      <ul class="main-nav nav py-3">
        <li class="active"><a routerLink="home">Home</a></li>
        <li><a routerLink="mnProduct">Quản lý Sản phẩm</a></li>
        <li><a routerLink="user">Quản Lý Thông Tin Khách Hàng</a></li>

      </ul>
      <!-- /NAV -->
    </div>
    <!-- /responsive-nav -->
  </div>
  <!-- /container -->
</nav>
<!-- /NAVIGATION -->
